body {
    background-color: #f3f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid green;
}

h1 {
    background-color: #847070;
    color: #38a992;
    font-size: larger;
    font-style: italic;
    font-size: 34px;
    margin-bottom: 20px;
    color: #333;
    border-bottom: 2px solid #333;
}

.input-container p {
    color: #555;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calculate {
    background-color: #3b82f6;
    color: white;
}

.calculate:hover {
    background-color: #2563eb;
}

.clear {
    background-color: #e5e7eb;
    color: #333;
}

.clear:hover {
    background-color: #d1d5db;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}